.App {
    max-width: 40%;
    font-family: "El Messiri", sans-serif;
    color: #eee;
    text-align: center;
    margin: 30px auto;
    border: 1px solid #eeeeee;
    border-radius: 45px;
    backdrop-filter: blur(3px);
}
