body {
    font-family: "El Messiri", sans-serif;
    color: #eee;
    text-align: center;
    background-image: linear-gradient(to right bottom, #21325e, #9198e5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
