body {
    font-family: "El Messiri", sans-serif;
    color: #eee;
    text-align: center;
    background-image: linear-gradient(to right bottom, #4f88a5, #a1c1d2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
