.Weather {
    padding: 20px;
}
.Weather h1 {
    font-size: 75px;
    line-height: 0.8;
    font-weight: 800;
    margin: 8px auto;
}
.Weather .temperature {
    font-size: 60px;
    font-weight: bold;
}

.Weather .units {
    font-size: 22px;
    position: relative;
    top: -25px;
}
.Weather a {
    text-decoration: none;
    /* color: #eee; */
}
.Weather .pattern {
    list-style: none;
    padding: 2px;
    margin: 0 auto;
}
.Weather .description::first-letter {
    text-transform: capitalize;
}
/* .Weather .humidity, .wind{
    font-weight: bold;
} */
/* .Weather .icon {
    height: 50%;
    width: 50%;
} */
