.Weather {
    padding: 20px;
}
.Weather h1 {
    font-size: 70px;
    line-height: 0.8;
    font-weight: 700;
    margin: 6px auto;
}
.Weather .temperature {
    font-size: 65px;
    font-weight: bold;
}

.Weather .units {
    font-size: 22px;
    position: relative;
    top: -25px;
}
.Weather a {
    text-decoration: none;
}
.Weather .pattern {
    list-style: none;
    padding: 2px;
    margin: 0 auto;
}
.Weather .description::first-letter {
    text-transform: capitalize;
}
